#postText{
    height: 100px;
    font-size: 20pt;
}
.postMainContent {
    display: flex;
    flex-direction: row;
    height: auto;
    padding-left: 400px; /*dont judge*/
    padding-right: 400px; 
}
.postContainer{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    flex-grow: 1;
    min-height: 100vh;
}
.postMainContent{
    display: flex;
    flex-direction: row;
    height:auto;
}


#submitbutton:hover {
    background-color: #5c205c; /* Darker shade on hover */
}

#submitbutton:active {
    background-color: #411641; /* Even darker shade when pressed */
}
