.row {
    display: flex;
  }

  .col {
    flex: 1; /* additionally, equal width */
    
    padding: 1em;
    margin-left: 15vw;
  }

.username-box {
    border-radius: 50px;
    background-color: rgba(234, 221, 255, 0.58);
    white-space: nowrap;
    padding: 16px 48px;
    width: 200px;
    height: 35px;
    margin-right: auto;
    margin-top: 5vh;
}

.profileMainContent{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.homeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}