
.profileMainContent{
  display: flex;
  flex-direction: column;
  width: calc(100% - 300px);
  margin-left: 250px;


}
.profile-container{
  display: flex;
  flex-direction: column;
}

/* TODO: fix all of this lol  */
.sidebar-container {
  width: 300px;

}
  /* Styling for the profile header (align it to the right) */
  .profile-header {
    padding: 50px;
    align-self: flex-end;  /* Push the profile header to the right */
    text-align: right;     /* Right-align the text inside the header */
    margin-bottom: 20px;



   /* Right-align the text inside the header */
  /* Add space between the header and the tabs */
  }

  .profile-tabs{
    display: flex;
    flex-direction: column;



  }

  

  

/* .username-box {
    border-radius: 50px;
    background-color: rgba(234, 221, 255, 0.58);
    white-space: nowrap;
    padding: 16px 48px;
    width: 200px;
    height: 35px;
    margin-right: auto;
    margin-top: 5vh;
}*/


