
.sidebar {
  border-radius: 25px;
  background: #EADDFF;
  padding: 20px;
  width: 200px;
  height: 85vh;
}

.home_icon {
  position: absolute;
  left: 25px;
  transform: scale(3);
}
.person_icon {
  position: absolute;
  top: 150px;
  left: 25px;
  transform: scale(3);
}
.chat_icon {
  position: absolute;
  top: 300px;
  left: 25px;
  transform: scale(3);
}
.notif_icon {
  position: absolute;
  top: 450px;
  left: 25px;
  transform: scale(3);
}
.logout_icon {
  position: absolute;
  top: 600px;
  left: 25px;
  transform: scale(3);
}