.repost-container {
    display: flex;
    flex-direction: column;

    
}
.repost-header{
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    padding-left: 10px;
    align-items: flex-start; 
    justify-items: center;
}
.repost-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
button.childPost  {
    display: flex;
    margin: 10px;
    box-shadow:10%;
    color: rgba(0, 0, 0, 0.9);
    background-color: rgba(144, 102, 162, 0);
    width: 90%;
    outline: solid;
    outline-width: thin;
    justify-self: center;
    align-self: center;
    
    

}

button.childPost:hover {
    background-color: rgba(144, 102, 162, 0);
}

.childPost{
    background-color: aqua;
}
.repost-username{
    color: rgba(0, 0, 0, 0.9);
    font-size: 25px;
    font-weight: bolder;

}
.repost-handle {
    color: #657786;
    font-size: 10px;
  }
  
  .repost-date {
    color: #657786;
    font-size: 10px;
  }