@import url(https://fonts.googleapis.com/css?family=Poppins);

.userForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.Username, .Email, .Password, .Handle, .Birthdate, .Pronouns{
    display: flex;
    flex-direction: column;
}

.passHide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Radio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.radioButtons{
    display: flex;
    flex-direction: row;
}

.required{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#otherPronouns{
    display: none;
}

.userInfo {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

input[type="radio"] {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"]{
    border-radius: 20px;
}

input[type="email"]{
    border-radius: 20px;
}

input[type="password"]{
    border-radius: 20px;
}

input[type="date"]{
    border-radius: 20px;
}

.passwordRec{
    font-size: 10px;
    text-align: center;
    margin-top: -0.5em;
}

body{
    font-family: Poppins;
    background-color: #efecf4;
}